body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */
#home {
  background-color: #004bbc;
  padding-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-top: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
}

.topmenu {
  color: lightgray;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  font-size: 25px;
  color: white;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width: 25px;
  margin-right: 10px;
}

/* LinkedIn Profile Link */
.profile_name .contact_info a {
  color: lightgray; /* 設定預設顏色 */
  text-decoration: none; /* 移除底線 */
  display: flex;
  align-items: center; /* 垂直對齊圖標和文字 */
}

.profile_name .contact_info a:hover {
  color: white; /* 鼠標懸停時的顏色 */
  text-decoration: underline; /* 添加底線作為懸停效果 */
}


/* Titles */
h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #004bbc;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* About Me */
.container {
  display: grid; /* 使用網格佈局 */
  grid-template-columns: 1fr 2fr; /* 分為兩列，圖片佔1份，文字佔2份 */
  align-items: center; /* 垂直居中對齊 */
  gap: 20px; /* 兩列之間增加空白 */
}

.image-container {
  text-align: center; /* 確保圖片和描述文字都在容器中居中 */
  width: 100%; /* 設置容器寬度為100% */
  margin-top: 50px; /* 增加上邊距以與藍色區塊產生間隔 */
}
.image-description {
  display: block; /* 確保描述區塊是一個塊級元素 */
  text-align: center; /* 文字居中 */
  width: 100%; /* 寬度匹配容器 */
  margin-top: 10px; /* 距離圖片一定的間隔 */
  color: #555; /* 字體顏色 */
  font-size: 14px; /* 字體大小 */
  position: relative; /* 確保描述位置在圖片下方 */
}

.profile_image {
  width: 100%; /* 圖片寬度調整為100% */
  height: auto; /* 高度自動調整 */
}

.about-me-text {
  font-size: 18px; /* 增加字體大小 */
  line-height: 1.6; /* 增加行間距 */
  padding: 20px 80px; /* 調整內邊距 */
  margin: auto; /* 確保居中對齊 */
  text-align: justify;
  max-width: 1000px; /* 調整最大寬度以適應更大的字體和間距 */
}




@media (max-width: 768px) {
  .container {
    flex-wrap: wrap; /* 允許小螢幕時換行 */
  }
  
  .image-container {
    flex: 1 1 100%; /* 佔據100%的寬度 */
    text-align: center; /* 在小螢幕上置中對齊 */
    margin-top: 15px; /* 小屏幕上減少圖片上方間距 */
  }

  .about-me-text {
    text-align: justify; /* 保持兩側對齊 */
    max-width: 100%; /* 小屏幕時占滿容器寬度 */
    margin-right: 0; /* 小屏幕時移除右側間距 */
    font-size: 16px; /* 小屏幕時調整字體大小 */
    padding: 10px; /* 小屏幕減少內邊距 */
  }
}



/* Skills */
.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 35px;
  align-items: center;
}

.skill h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.skill p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */
.achievements-container {
  margin-top: 30px;
  margin-left: 60px;
}

.achievements-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.achievement-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}

.achievement-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.achievement-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations */
.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 18px;
  height: 150px;
}

.recommendation span {
  color: #7600bc;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Scroll to Top Button */
.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #7600bc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */
.popup {
  width: 400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid #7600bc;
  color: #7600bc;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */
input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  width: 100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border: thin solid white;
  width: 50%;
}

/* Buttons */
button {
  background-color: #fff;
  border: 1px solid #7600bc;
  color: #7600bc;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #7600bc;
  border: 1px solid #7600bc;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
